'atom-text-editor.vim-mode-plus.normal-mode':
  'q': 'vim-mode-plus-macros:start-recording-macro'
  '@': 'vim-mode-plus-macros:apply-macro'

'atom-text-editor.vim-mode-plus.normal-mode.recording-macro':
  'q': 'vim-mode-plus-macros:stop-recording-macro'

'atom-text-editor.vim-mode-plus.insert-mode.recording-macro':
  'space': 'vim-mode-plus-macros:record-insert-of-space'
  '!': 'vim-mode-plus-macros:record-insert-of-!'
  '"': 'vim-mode-plus-macros:record-insert-of-"'
  '#': 'vim-mode-plus-macros:record-insert-of-#'
  '$': 'vim-mode-plus-macros:record-insert-of-$'
  '%': 'vim-mode-plus-macros:record-insert-of-%'
  '&': 'vim-mode-plus-macros:record-insert-of-&'
  '\'': 'vim-mode-plus-macros:record-insert-of-\''
  '(': 'vim-mode-plus-macros:record-insert-of-('
  ')': 'vim-mode-plus-macros:record-insert-of-)'
  '*': 'vim-mode-plus-macros:record-insert-of-*'
  '+': 'vim-mode-plus-macros:record-insert-of-+'
  ',': 'vim-mode-plus-macros:record-insert-of-,'
  '-': 'vim-mode-plus-macros:record-insert-of--'
  '.': 'vim-mode-plus-macros:record-insert-of-.'
  '/': 'vim-mode-plus-macros:record-insert-of-/'
  '0': 'vim-mode-plus-macros:record-insert-of-0'
  '1': 'vim-mode-plus-macros:record-insert-of-1'
  '2': 'vim-mode-plus-macros:record-insert-of-2'
  '3': 'vim-mode-plus-macros:record-insert-of-3'
  '4': 'vim-mode-plus-macros:record-insert-of-4'
  '5': 'vim-mode-plus-macros:record-insert-of-5'
  '6': 'vim-mode-plus-macros:record-insert-of-6'
  '7': 'vim-mode-plus-macros:record-insert-of-7'
  '8': 'vim-mode-plus-macros:record-insert-of-8'
  '9': 'vim-mode-plus-macros:record-insert-of-9'
  'numpad0': 'vim-mode-plus-macros:record-insert-of-0'
  'numpad1': 'vim-mode-plus-macros:record-insert-of-1'
  'numpad2': 'vim-mode-plus-macros:record-insert-of-2'
  'numpad3': 'vim-mode-plus-macros:record-insert-of-3'
  'numpad4': 'vim-mode-plus-macros:record-insert-of-4'
  'numpad5': 'vim-mode-plus-macros:record-insert-of-5'
  'numpad6': 'vim-mode-plus-macros:record-insert-of-6'
  'numpad7': 'vim-mode-plus-macros:record-insert-of-7'
  'numpad8': 'vim-mode-plus-macros:record-insert-of-8'
  'numpad9': 'vim-mode-plus-macros:record-insert-of-9'
  ':': 'vim-mode-plus-macros:record-insert-of-:'
  ';': 'vim-mode-plus-macros:record-insert-of-;'
  '<': 'vim-mode-plus-macros:record-insert-of-<'
  '=': 'vim-mode-plus-macros:record-insert-of-='
  '>': 'vim-mode-plus-macros:record-insert-of->'
  '?': 'vim-mode-plus-macros:record-insert-of-?'
  '@': 'vim-mode-plus-macros:record-insert-of-@'
  'A': 'vim-mode-plus-macros:record-insert-of-A'
  'B': 'vim-mode-plus-macros:record-insert-of-B'
  'C': 'vim-mode-plus-macros:record-insert-of-C'
  'D': 'vim-mode-plus-macros:record-insert-of-D'
  'E': 'vim-mode-plus-macros:record-insert-of-E'
  'F': 'vim-mode-plus-macros:record-insert-of-F'
  'G': 'vim-mode-plus-macros:record-insert-of-G'
  'H': 'vim-mode-plus-macros:record-insert-of-H'
  'I': 'vim-mode-plus-macros:record-insert-of-I'
  'J': 'vim-mode-plus-macros:record-insert-of-J'
  'K': 'vim-mode-plus-macros:record-insert-of-K'
  'L': 'vim-mode-plus-macros:record-insert-of-L'
  'M': 'vim-mode-plus-macros:record-insert-of-M'
  'N': 'vim-mode-plus-macros:record-insert-of-N'
  'O': 'vim-mode-plus-macros:record-insert-of-O'
  'P': 'vim-mode-plus-macros:record-insert-of-P'
  'Q': 'vim-mode-plus-macros:record-insert-of-Q'
  'R': 'vim-mode-plus-macros:record-insert-of-R'
  'S': 'vim-mode-plus-macros:record-insert-of-S'
  'T': 'vim-mode-plus-macros:record-insert-of-T'
  'U': 'vim-mode-plus-macros:record-insert-of-U'
  'V': 'vim-mode-plus-macros:record-insert-of-V'
  'W': 'vim-mode-plus-macros:record-insert-of-W'
  'X': 'vim-mode-plus-macros:record-insert-of-X'
  'Y': 'vim-mode-plus-macros:record-insert-of-Y'
  'Z': 'vim-mode-plus-macros:record-insert-of-Z'
  '[': 'vim-mode-plus-macros:record-insert-of-['
  '\\': 'vim-mode-plus-macros:record-insert-of-\\'
  ']': 'vim-mode-plus-macros:record-insert-of-]'
  '^': 'vim-mode-plus-macros:record-insert-of-^'
  '_': 'vim-mode-plus-macros:record-insert-of-_'
  '`': 'vim-mode-plus-macros:record-insert-of-`'
  'a': 'vim-mode-plus-macros:record-insert-of-a'
  'b': 'vim-mode-plus-macros:record-insert-of-b'
  'c': 'vim-mode-plus-macros:record-insert-of-c'
  'd': 'vim-mode-plus-macros:record-insert-of-d'
  'e': 'vim-mode-plus-macros:record-insert-of-e'
  'f': 'vim-mode-plus-macros:record-insert-of-f'
  'g': 'vim-mode-plus-macros:record-insert-of-g'
  'h': 'vim-mode-plus-macros:record-insert-of-h'
  'i': 'vim-mode-plus-macros:record-insert-of-i'
  'j': 'vim-mode-plus-macros:record-insert-of-j'
  'k': 'vim-mode-plus-macros:record-insert-of-k'
  'l': 'vim-mode-plus-macros:record-insert-of-l'
  'm': 'vim-mode-plus-macros:record-insert-of-m'
  'n': 'vim-mode-plus-macros:record-insert-of-n'
  'o': 'vim-mode-plus-macros:record-insert-of-o'
  'p': 'vim-mode-plus-macros:record-insert-of-p'
  'q': 'vim-mode-plus-macros:record-insert-of-q'
  'r': 'vim-mode-plus-macros:record-insert-of-r'
  's': 'vim-mode-plus-macros:record-insert-of-s'
  't': 'vim-mode-plus-macros:record-insert-of-t'
  'u': 'vim-mode-plus-macros:record-insert-of-u'
  'v': 'vim-mode-plus-macros:record-insert-of-v'
  'w': 'vim-mode-plus-macros:record-insert-of-w'
  'x': 'vim-mode-plus-macros:record-insert-of-x'
  'y': 'vim-mode-plus-macros:record-insert-of-y'
  'z': 'vim-mode-plus-macros:record-insert-of-z'
  '{': 'vim-mode-plus-macros:record-insert-of-{'
  '|': 'vim-mode-plus-macros:record-insert-of-|'
  '}': 'vim-mode-plus-macros:record-insert-of-}'
  '~': 'vim-mode-plus-macros:record-insert-of-~'
